*{
    font-family: "Roboto Thin", sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252525;
    color: white;
    text-align: center;
}
.langsel{
    display: flex;
    justify-content: space-around;
}
.langsel a{
    text-decoration: none;
    color: #000000;
}
.langeng img{
    display: none;
}
.langeng:hover img{
    display: block;
    position: relative;
    right: 40%;
}
.langde img{
    display: none;
}
.langde:hover img{
    display: block;
    position: relative;
    right: 40%;
}
ul {
    list-style-type: none;
}